<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!--  layout:decorator="base/layout"> -->
<!-- layout文件路径-->

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>sign-up-page</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <!-- Baidu frontawesome -->
    <link rel="stylesheet" href="http://libs.baidu.com/fontawesome/4.0.3/css/font-awesome.css" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>

    <style>
       .templatemo-bg-gray{
           background-color: #eee;
       }
        .margin-bottom-15{
            margin-bottom: 15px;
        }



    </style>
</head>

<body class="templatemo-bg-gray">
<h1 class="margin-bottom-15">Create Account</h1>
<div class="container">
    <div class="col-md-12">
        <form class="form-horizontal templatemo-create-account templatemo-container"  th:action="@{/user/sign-up}" th:method="POST">
            <div class="form-inner">
                <div class="form-group">
                    <div class="col-md-6">
                        <label  class="control-label">First Name</label>
                        <input type="text" class="form-control" name="first_name" placeholder=""/>
                    </div>
                    <div class="col-md-6">
                        <label  class="control-label">Last Name</label>
                        <input type="text" class="form-control" name="last_name" placeholder=""/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label  class="control-label">Email</label>
                        <input type="email" class="form-control" name="userEmail" placeholder=""/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label  class="control-label">Username</label>
                        <input type="text" class="form-control" name="userName" placeholder=""/>
                    </div>
                    <div class="col-md-6 templatemo-radio-group">
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"/> Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"/> Female
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label  class="control-label">Password</label>
                        <input type="password" class="form-control" name="password" placeholder=""/>
                    </div>
                    <div class="col-md-6">
                        <label  class="control-label">Confirm Password</label>
                        <input type="password" class="form-control" name="password_confirm" placeholder=""/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label><input type="checkbox"/>I agree to the <a href="javascript:;" data-toggle="modal" data-target="#templatemo_modal">Terms of Service</a> and <a href="#">Privacy Policy.</a></label>
                    </div>
                </div>

                <div class="form-group">
                    <div id="captcha-box"></div>



                    <div class="myform">
                        <input type="hidden" name="geetest_challenge" value="xxx"/>
                        <input type="hidden" name="geetest_validate" value="xxx"/>
                        <input type="hidden" name="geetest_seccode" value="xxx"/>
                    </div>



                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Create account" class="btn btn-success"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="templatemo_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Terms of Service</h4>
            </div>
            <div class="modal-body">
                <p>This form is provided by <a rel="nofollow" href="http://www.cssmoban.com/page/1">Free HTML5 Templates</a> that can be used for your websites. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>

<script>

    initGeetest({
        // 省略配置参数
    }, function (captchaObj) {
        // 现在可以调用验证实例 captchaObj 的方法了

        captchaObj('#myform');
    });

    initGeetest({
        // 以下配置参数来自服务端 SDK
        gt: data.gt,
        challenge: data.challenge,
        offline: !data.success,
        new_captcha: data.new_captcha
    }, function (captchaObj) {
        // 这里可以调用验证实例 captchaObj 的实例方法
    })

    initGeetest({
        // 省略必须的配置参数
        width: '100%'
    }, handler);

    initGeetest({
        // 省略必须的配置参数
        width: '20rem'
    });

    var captchaBox = document.getElementById('#captcha-box');
    initGeetest({
        // 省略配置参数
    }, function (captchaObj) {
        captchaObj.appendTo(captchaBox);
        // 省略其他方法的调用
    });


</script>
</html>